/* reset */
body {
    background-color: #e7e7e9;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

/* header */
.header {
    background: linear-gradient(#353b46, black);
    padding-top: 10px;
    padding-bottom: 10px;
}

.header h1 {
    color: white;
    transition: 0.3s;
}

.header h1:hover {
    color: #586b8d;
}

.header nav a {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    transition: 0.3s;
}

.header a:hover {
    color: #586b8d;
}

/* section 1 */
.section1Project {
    padding-top: 50px;
}

.anchor {
    padding: 50px 10px;
    scale: 1;
    transition: 0.3s;
}

.anchor:hover {
    scale: 1.1;
}

.anchor h3 {
    font-weight: 700;
    color: white;
}

.overlay-text {
    position: absolute;
    bottom: 15%;
    text-align: center;
    background-color: #353b4649;
    padding: 10px;
}

/* footer */
.footer {
    position: relative;
    background: linear-gradient(#353b46, black);
    padding-top: 10px;
}

.footer h3 {
    color: white;
}

.footer li {
    color: white;
}

.footer a {
    color: white;
    transition: 0.3s;
}

.footer a:hover {
    color: #586b8d;
}
